<div class="container-fluid" style="padding: 0;">
        <div class="col-sm-12 col-md-6 mani-right-container col-md-push-6">
            <img src="images/bannerfinal.png" alt="IDS Generator" />
        </div>
        <div class="col-sm-12 col-md-6 mani-container col-md-pull-6">
            <div class="mani-left-container">
                <h2 class="mani-title">
                    IDS - information Disclosure statement
                </h2>
                <div class="mani-content">
                    <p>
                        An Information Disclosure Statement (IDS) refers to a document used for submission
                        of relevant background art or information to the United States Patent and Trademark
                        Office (USPTO) by an applicant for a patent during the patent prosecution process,
                        based on the specific guidelines published in the Manual of Patent Examining Procedure
                        (MPEP).</p>
                </div>
                <div class="text-center">
                    <a ng-href="#!login" class="btn mani-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
