<div id="mani-Ids-Generator-Header">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="logo">
        <img src="images/doc3.png" class="img-responsive" /><span>IDS GENERATOR</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="address">
        <p>
          New Venture</p>
        <p>
          Address 1, Address 2</p>
        <p>
          Coimbatore, Tamil Nadu, India</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-2">
      <div class="logout">
        <p>
          <span style="color: #92b056; font-weight: bold;">Welcome :
                               <span id="lbl_user">admin</span></span>
        </p>
        <p>
          <a id="btn_logout" title="Logout" ng-click="main.logout();" style="cursor:pointer;">Logout<span> <i class="glyphicon glyphicon-log-out"></i></span></a>
        </p>
      </div>
    </div>
  </div>
</div>
