<div class="container">
  <br>
  <br>
  <br>
  <h3>Hint : Try US9623902</h3>
  <input type="text" ng-model="main.patentCode" id="txt_p_no" class="form-control">
  <br/>
  <button ng-click="main.findPatentInfo(main.patentCode)" class="btn btn-info">Click me to see details.</button>
  <div ng-show="main.showData">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <table>
              <th>
                kind code
              </th>
              <tr>
                <td>
                  {{main.k_code}}
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <th>
                Country code
              </th>
              <tr>
                <td>
                  {{main.c_code}}
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <th>
                Applicants name
              </th>
              <tr ng-repeat="a in main.applicants">
                <td>
                  {{a['applicant-name']['name']['$']}}
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <th>
                Inventors name {{main.restData}}
              </th>
              <tr ng-repeat="i in main.inventors">
                <td>
                  {{i['inventor-name']['name']['$']}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
